<div class="jumbotron">
<h1>Bienvenido a DBIKEPLACE</h1>
<p>El sitio web para comprar y vender bicis, piezas y accesorios</p>
<%= link_to "Bikes", "#", class: "btn btn-primary btn-lg" %>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>